HTML, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td {
    border: none;
    font-family: "微软雅黑", "黑体", "宋体";
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}

input::-ms-clear {
    display: none;
}

input::-ms-reveal {
    display: none;
}

input {
    -webkit-appearance: none;
    margin: 0;
    outline: none;
    padding: 0;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

input::-ms-input-placeholder {
    color: #ccc;
}

input::-moz-placeholder {
    color: #ccc;
}

input[type=submit], input[type=button] {
    cursor: pointer;
}

button[disabled], input[disabled] {
    cursor: default;
}

img {
    border: none;
}

ul, ol, li {
    list-style-type: none;
}

/*公共方法*/
.clear {
    clear: both;
}

.clearleft {
    clear: left;
}

.clearright {
    clear: right;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.cursor {
    cursor: pointer;
}

/*背景及色值表*/
.bg000 {
    background: #000;
}

.color000 {
    color: #000;
}

/*评分大屏幕*/
#screen_body {

    background-size: cover;
}

.screen_logo {
    color: #fff;
    font-size: 24pt;
    position: fixed;
    top: 25%;
    width: 100%;
}

.screen_logo p {
    font-size: 28pt;
    font-weight: bold;
    letter-spacing: 3pt;
    margin-left: 5%;
}

.screen_logo b {
    color: #FF9800;
}

.screen {
    width: 100%;
    overflow: hidden;
}

.screen_title {
    width: 100%;
    overflow: hidden;
}

#screen_title_img {
    width: 100%;
    height: auto;
}

.screen_player {
    margin-top: 1%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.screen_player h1 {
    font-size: 4em;
    color: #fff;
}

.screen_player img {
    width: 10%;
    border-radius: 50%;
    border: 8px solid #ffda00;
    margin-top: 1%;
}

.screen_player p {
    font-size: 30pt;
    font-weight: bold;
    color: #fff;
    margin-top: 1%;
    letter-spacing: 5pt;
}

.screen_judge {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 2%;
    text-align: center;
}

.screen_judge li {
    width: 15%;
    margin: 1% 0.5%;
    display: inline-table;
    text-align: center;
}

.screen_judge img {
    width: 100%;
    height: 320px;
}

.screen_judge_pw {
    background: #FF9800;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 15pt;
}

.screen_judge_pw p {
    font-size: 21pt;
    line-height: 3rem;
}

.screen_judge p {
    color: #fff;
    text-align: center;
}

.pw_name {
    margin-top: 10pt;
    font-size: 18pt;
}

.screen_popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(204, 204, 204, 0.5);
    /*opacity: 0.5;*/
}

.screen_popup_sc {
    text-align: center;

}

.screen_popup_sc p {
    margin-top: 30%;
    color: #fff;
    font-size: 45pt;
    font-weight: bold;
}

/*排名页面*/
.rank_top {
    width: 70%;
    margin: 0 auto;
    /*overflow: hidden;*/
}

.rank_top li {
    width: 30%;
    margin: 1%;
    height: 180px;
    background: #fff;
    float: left;
    border: 5px solid #ffda00;
    border-radius: 10pt;
}

.rank_bot {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.rank_bot li {
    width: 48%;
    height: 80px;
    background: #fff;
    float: left;
    margin: 1%;
    padding: 5pt 0;
    overflow: hidden;
}

.rank_bot p {
    width: 10%;
    float: left;
    line-height: 80px;
    height: 80px;
    font-size: 18pt;
    text-align: center;
}
@media screen and (max-width: 1440px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
    .rank_bot li {
        width: 48%;
        height: 40px;
        background: #fff;
        float: left;
        margin: 1%;
        padding: 5pt 0;
        overflow: hidden;
    }

    .rank_bot p {
        width: 10%;
        float: left;
        line-height: 40px;
        height: 40px;
        font-size: 14pt;
        text-align: center;
    }
    .screen_judge{
        margin-top: 1% !important;
    }
    .screen_judge li{
        width: 12% ;
    }
    .screen_judge img{
        height: 120px;
    }
    .pw_name{
        font-size: 1em;
    }
}



.p1 {
    width: 20% !important;
    font-size: 18pt;
    font-weight: bold;
    padding-left: 10pt;
}

.p2 img {
    height: 100%;
    border-radius: 50%;
}

.p3 {
    font-weight: bold;
    color: #FF9800;
}

.top_img {
    position: relative;
}

.top_img img {
    position: absolute;
    width: 140px !important;
    top: -70px;
    left: 50%;
    margin-left: -70px;
    border: 5px solid #ffda00;
    border-radius: 50%;
    z-index: 999;
}

.top_img p {
    margin-top: 100px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.top_img b {
    color: darkred;
}

/*评委评分页面*/
.judge_main {
    width: 100%;
}

.judge_top {
    display: grid;
}

.judge_top img {
    width: 100%;

}

.judge_player {
    width: 100%;
    margin-top: -60px;
}

.judge_tx {
    width: 30%;
    margin: 0 auto;

}

.judge_tx img {
    width: 100%;
    border: 5px solid #fff;
    border-radius: 50%;

}

.judge_player p {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.judge_player b {
    font-size: 2rem;
    color: #FF9800;
}

.judge_fg {
    height: 0.5rem;
    width: 100%;
    background: cadetblue;
    margin-top: 1rem;
}

.judge_conter {
    width: 96%;
    margin: 0 auto;
    overflow: hidden;
    background: #92cbf9;
    margin-top: 1rem;
    border-radius: 1rem;
}

.judge_from {
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
}

.judge_from p {
    color: #666;
}

.judge_from input {
    background: #fff;
    height: 3rem;
    width: 100%;
    margin: 1rem 0;
    border: 0;
    text-align: center;
    color: #ccc;
}

#input_sub {
    background: #2196F3;
    color: #fff;
}

.judge_from h3 {
    text-align: center;
    color: #eee;
    line-height: 2rem;
}

#input_sub_p {
    color: #ce2519;
    text-align: center;
}

.judge_footer {
    width: 100%;
    margin-top: 1rem;
}

.judge_footer img {
    width: 100%;
}


/*多端*/

@media screen and (max-width: 375px) {
    .judge_tx {
        width: 20%;
    }
    .judge_player{
        margin-top: -40px;
    }
    .judge_from{
        padding: 2rem;
    }
    .judge_player b{
        font-size: 1.5rem;
    }
    #input_sub_p{
        font-size: 12px;
    }
}
@media screen and (min-width: 768px ){
    .judge_tx {
        width: 25%;
    }
    .judge_player{
        margin-top: -110px;
    }
    .judge_player p{
        font-size: 1.5rem;
    }
    .judge_from{
        width: 60%;
    }
    .judge_from input{
        height: 4rem;
    }
    .judge_from p{
        font-size: 18px;
    }
    .judge_from h3{
        font-size: 21px;
    }
}
@media screen and (min-width: 1000px){
    .judge_player p{
        font-size: 32px;
    }
    .judge_from h3{
        font-size: 28px;
    }
    .judge_from p{
        font-size: 24px;
    }
    .judge_from input{
        height: 80px;
        font-size: 24px;
        margin: 25px 0;
    }
    .judge_player b{
        font-size: 38px;
    }
}