/*登陆页面*/
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.login-box-msg {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 5pt;
    color: #333333 !important;
}



.login-box-msg b {
    color: #3aa2ff;
}

.col-xs-zc {
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

#login_input input {
    border-radius: 10px;
    padding-right: 0 !important;
    padding-left: 42.5px !important;;
    height: 35pt !important;
    line-height: 35pt !important;
}

#login-ico-input {
    left: 0 !important;
    padding: 5pt;
}

#login_bg {
    background-image: url("../img/login_bg.jpg") !important;
    background-size: cover;
}

.login-box {
    width: 20% !important;
    margin: 0 auto !important;
    padding-top: 15% !important;

}
@media screen and (min-width:660px) and (max-width:1440px){
    .login-box{
        width: 30% !important;
        padding-top: 8% !important;
    }
}
.login-box-body {
    border-radius: 15px;
}

/*中心页面*/
.sever_center {
    width: 98%;
    margin: 0 auto;
    margin-top: 20pt;
    height: 500pt;
    background: #fff;
    border-radius: 15px;
    padding: 20pt;
}

.sever_user_text {
    width: 100%;
    border: 1px solid #eeeeee;
    padding: 30pt;
    overflow: hidden;
}

.sever_user_text img {
    width: 8%;
    border-radius: 50%;
    float: left;

}

.sever_user_text ul {
    float: left;
    width: 90%;
    overflow: hidden;
}

.sever_user_text li {
    list-style: none;
    line-height: 30pt;
    width: 100%;
}

.sever_user_text b {
    font-size: 16pt;
    padding-right: 10pt;
}

.sever_a1 a {
    float: right;
}

.sever_order {
    margin-top: 20pt;
    overflow: hidden;
}

.sever_order_title {
    border-bottom: 2px solid #eee;
}

.sever_order_title a {
    border-bottom: 2px solid #3c8dbc !important;
    line-height: 35pt;
    padding-bottom: 11pt;
    z-index: 999;
}

.sever_order_list table {
    width: 100%;
    border: 1px solid #ccc;
}

.sever_order_list tr {

}

.sever_order_list th {
    background: #337ab7;
    padding-left: 5pt;
    color: #fff;
}

.sever_order_list td {
    padding-left: 5pt;
    border-bottom: 1px solid #ccc;

}

/*活动页面*/
.tab_act {
    width: 100%;
    overflow: hidden;
    border: 2px solid #eee;
}

.tab_act ul {
    overflow: hidden;
    padding-left: 0;
    margin-bottom: 0;
}

.tab_act li {
    width: 50px;
    text-align: center;
    float: left;
    height: 50px;
    line-height: 50px;
    width: 10%;
}

.tab_act a {
    float: right;
    height: 35px;
    line-height: 35px;
    background: #3c8dbc;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 0 15px;
    margin-right: 15px;
}

.actvity_pt {
    width: 100%;
    overflow: hidden;

}

.pt_left {
    width: 30%;
    background: #3c8dbc;
    overflow: hidden;
    padding: 10px 20px;
    color: #fff;
    float: left;
    height: 124px;
}

.pt_left a {
    color: #fff;
    padding: 5px;
    border: 1px solid #fff;
    margin-right: 10px;
    font-size: 1rem;
}

.pt_left span {
    color: #fff !important;
}

.actvity_pt ul {
    margin: 0;
    padding: 0;
}

.actvity_pt li {
    width: 96%;
    margin: 0 auto;
    margin-top: 20px;
    background: #eeeeee;
    overflow: hidden;
    height: 124px;
}

.pt_right {
    width: 70%;
    overflow: hidden;
    color: #333;
    float: left;

}

.pt_ico {
    float: left;
    width: 14%;
    text-align: center;
    margin: 0;
    margin-top: 38px;
}

.img_1 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/tb1.png");
    background-size: 100% 100%;
}

.img_2 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/tb2.png");
    background-size: 100% 100%;
}

.img_3 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/tb3.png");
    background-size: 100% 100%;
}

.img_4 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/tb4.png");
    background-size: 100% 100%;
}

.img_5 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/tb5.png");
    background-size: 100% 100%;
}

.pt_ico p {
    margin: 0;
    padding: 0;
}

/*控制台*/
.control_box {
    width: 100%;
    padding: 20pt;
    background: red;
    overflow: hidden;
}

.control_box li {
    width: 23%;
    text-align: center;
    line-height: 45pt;
    float: left;
    background: #3c8dbc;
    margin: 1%;
    color: #fff;
    font-size: 14pt;
}

.pt_last_b {
    font-size: 13pt;
    color: #fff;
    width: 12%;
    line-height: 124px;
    float: right;
    text-align: center;
    background: #dd4b39;
}

.pt_last_b a {
    color: #fff !important;
    font-size: 1rem;
}